* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
h5 {
    color: #f55f8d;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}
h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}
/* HEADER */
.header {
    padding: 40px 0;
}
.container {
    width: 70%;
    margin: 0 auto;
}
.header__header {
    display: flex;
    align-items: center;
}
.header__header ul {
    display: flex;
    list-style: none;
    margin-left: 200px;
}
.header__header li {
    padding: 0 16px;
    display: flex;
    align-items: center;
}
.header__header li a {
    text-decoration: none;
    color: #070120;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}
.header__header i:hover {
    color: #f55f8d;
    cursor: pointer;
}
.header__header li a:hover span {
    animation: uptodown .5s;
    transition: all .2s;
    color: #f55f8d;
    display: inline-block;
}
@keyframes uptodown {
    49% {
        opacity: 0;
        transform: translateY(100%);
      }
    50% {
        opacity: 0;
        transform: translateY(-100%);
      }
    51% {
        opacity: 1;
      }
}
.btn button {
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    background-size: 200%;
    transition: all .2s;
    margin-left: 30px;
}
.btn button:hover {
    background-position: right center;
    cursor: pointer;
}
/* END HEADER */


/* CAROUSEL */
.carousel{
    padding: 40px 0;
    position: relative;
    display: flex;
    background-image: url(../Samar/pic2.png);
}
.carousel__title {
    padding-top: 100px;
}

.carousel__title p {
    color: #636363;
    font-size: 20px;
}
.carousel__title ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}
.carousel__title li {
    font-size: 20px;
    color: #636363;
    margin-top: 24px;
}
.carousel__title i {
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    height: 30px;
    width: 30px;
    text-align: center;
    align-items: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 6px;
    font-size: 20px;
}
.carousel__img img {
    position: absolute;
    right: 200px;
    transition: all .5s;
}
.carousel__title .btn button {
    margin-left: 0;
}
/* END CAROUSEL */


/* SERVICE */
.service {
    padding: 100px 0;
    background-image: url(../Samar/bg2.png);
}
.service__title * {
    text-align: center;
    margin-bottom: 20px;
}
.card__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.card__item {
    background-color: white;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 40px 60px;
    text-align: center;
    border-radius: 16px;
    margin-top: 30px;
    transform: translateY(0);
    transition: all .8s;
}
.card__item:hover {
    transform: translateY(-20px);
}
.card__img img {
    width: 220px;
}
.card__title {
    padding: 20px;
    margin-top: 30px;
}
.card__title h5 {
    font-size: 30px;
    color: #262626;
    padding-bottom: 10px;
}
.card__title p {
    color: #636363;
    font-size: 16px;
}
/* END SERVICE */


/* BUSINESS */
.business {
    padding: 40px 0;
    background-image: url(../Samar/bg15.png);   
}
.business__content {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.business__title * {
    margin-bottom: 20px;
}
.business__img img {
    border-radius: 0 100px 100px 0;
    height: 550px;
}
.business__img {
    width: 60%;
    transition: all 0.8s;
    position: absolute;
    left: -200px;
}
.business__title {
    transition: all 0.8s;
    width: 50%;
}
.business__title ul {
    list-style: none;
}
.business__title i {
    background-color: #fff;
    border: 2px solid #f55f8d;
    color: #f55f8d;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-right: 6px;
}
/* END BUSINESS */


/* NUMBER */
.number {
    padding: 40px 0;
    background-image: url(../Samar/bg14.png);
}
.number__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.number__item i {
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}
.number__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 700;
    color: #f55f8d;
}
.number__counter * {
    padding: 0 10px;
}
.number__item span {
    font-size: 20px;
    color: #636363;
    font-weight: 500;
}
/* END NUMBER */


/* FEATURE */
.feature {
    padding: 80px 0;
}
.feature__content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.feature__left {
    width: 50%;
    margin-right: 20px;
    position: relative;
}
.feature__right {
    width: 50%;
    align-items: flex-end;
    position: absolute;
    right: -80px;
}
.feature__item {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 40px 10px;
    margin-top: 20px;
    border-radius: 16px;
    transition: all 0.8s;
}
.feature__item-2 {
    position: relative;
    left: 50px;
}
.feature__item:hover {
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
.feature__item:hover .feature__icon {
    color: #fff;
}
.feature__icon {
    font-size: 80px;
    color: #f55f8d;
    margin-right: 20px;
    transition: all 0.8s;
}
.feature__title h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.feature__right img {
    width: 100%;
}
.feature__right img {
    animation: move linear 2s infinite;
    transition: all 3s;
}
@keyframes move {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}
/* END FEATURE */


/* PORTFOLIO */
.portfolio {
    padding: 40px 0;
    background-image: url(../Samar/bg17.png);
    position: relative;
}
.portfolio__content * {
    text-align: center;
    margin-bottom: 20px;
}
.portfolio__carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 30px;
}
.portfolio__item img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.portfolio__item {
    position: relative;
}
.portfolio__overlay::before {
    content: "";
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15%;
    display: block;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.8s;
}
.portfolio__overlay:hover::before {
    left: 100%;
}
.portfolio__item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.portfolio__item-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.portfolio__item-5 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
.portfolio__item-6 {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
.portfolio__overlay {
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 16px;  
}
.portfolio__icon a i{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 40px;
    color: white;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transform: translateX(0) translateY(0);
    transition: all 0.8s;
}
.portfolio__item:hover i {
    transform: translateY(30px) translateX(-30px);
    cursor: pointer;
}
.portfolio__title {
    position: absolute;
    left: 30px;
    bottom: -30px;
    overflow: hidden;
    transform: translateY(0);
    transition: all 0.8s;
}
.portfolio__item:hover .portfolio__title {
    transform: translateY(-50px);
}
.portfolio__item:hover .portfolio__overlay {
    opacity: 1;
}
.portfolio__title h2 {
    color: #fff;
}
.portfolio__title p {
    color: #fff;
    font-size: 20px;
}
/* END PORTFOLIO */


/* PLAN */
.plan {
    padding: 40px 0;
    background-image: url(../Samar/bg16.png);
}
.plan__title {
    margin-top: 40px;
    text-align: center;
}
.plan__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.plan__item {
    padding: 20px 60px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    text-align: center; 
    margin-top: 40px;
    border-radius: 16px;
    border: none;
}
.plan__item:hover {
    border: 5px dotted #f55f8d;
}
.plan__item img {
    width: 50%;
    margin-bottom: 30px;
}
.plan__item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 30px;
    margin-bottom: 20px;
}
.plan__item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.plan__item p {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}
.plan__item ul {
    list-style: none;
    text-align: left;
    margin-left: 10px;
}
.plan__item ul * {
    margin: 10px 20px;
}
.plan__item li i {
    background-color: #feeff3;
    color: #f55f8d;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}
/* END PLAN */


/* TESTIMONIAL */
.testimonial {
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
}

.testimonial__content {
    min-height: 300px;
}

.testimonial__thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}

.testimonial__thumbs .testimonial__pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial__thumbs::after,.testimonial__thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

.testimonial__thumbs::before {
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}

.testimonial__thumbs::after {
    right: 0;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
}

.testimonial__pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}

.swiper-slide-thumb-active .testimonial__pic .shape-bx {
    opacity: 1;
}

.testimonial__pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../Samar/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.testimonial__pic::after,.testimonial__pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.testimonial__pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}

.testimonial__pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}

.swiper-slide-thumb-active .testimonial__pic::after,.swiper-slide-thumb-active .testimonial__pic::before {
    opacity: 1;
}

.testimonial__comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

.testimonial__comment .swiper-wrapper {
    padding-bottom: 20px
}

.testimonial__thumbs .testimonial__pic {
    padding: 30px 0 0;
    transition: all .5s;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
    padding: 0 0 40px;
}

.testimonial__text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    position: relative;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,.testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom: auto;
}

.swiper-pagination-bullet-active {
    background: #f55f8d;
}

.testimonial__text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.testimonial__text p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}

.testimonial__name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial__position {
    font-size: 15px;
    color: #f55f8d;
    margin-bottom: 20px;
    padding: 0;
}
/* END TESTIMONIAL */


/* BLOG */
.blog {
    padding: 100px;
    background-image: url(../Samar/bg16.png);
}
.blog__title {
    text-align: center;
}
.blog__item {
    padding: 20px 20px;
}
.blog .item__content {
    background: rgba(245,95,141,.1);
    box-shadow: rgba(245,95,141,.1);
    border-radius: 16px;
}
.blog .item__content h3 {
    padding-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.blog .item__content p {
    margin-left: 20px;
    color: #636363;
    margin-bottom: 40px;
}
.item__footer {
    margin-left: 10px;
    padding: 20px 0;
    border-top: 1px solid rgba(0,0,0,.05)
}
.item__footer * {
    margin-left: 10px;
    color: #f55f8d;
}
.calendar {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    left: 30px;
    bottom: -20px;
}
.calendar span {
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.item__img {
    position: relative;
}
.blog__item img {
    width: 100%;
    border-radius: 16px;
}
/* END BLOG */


/* FOOTER */
.email__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.email__title {
    font-size: 30px;
}
.email__content form {
    width: 500px;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.email__address input {
    flex-grow: 1;
    padding: 20px 10px;
    border: 1px solid #f55f8d;
    border-radius: 6px 0 0 6px;
}
.email__address button {
    padding: 20px 40px;
    border-radius: 0 6px 6px 0;
    border: none;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    font-size: 20px ;
    color: #fff;
}
.footer {
    padding-top: 200px;
    background-image: url(../Samar/bg4.png);
    background-color: #0e1b1f;
    background-size: 100%;
    height: 60vh;
    position: relative;
}
.footer__top {
    position: absolute;
    top: -60px;
    background-image: url(../Samar/pattern3.png);
    background-position: bottom;
    background-size: 100%;
    padding: 60px 0;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 70%;
    border-radius: 6px;
}
.col1__content {
    color: #fff;
}
.col1__item {
    display: flex;
    align-items: center;
}
.col1__icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    line-height: 40px;
    text-align: center;
    margin: 10px;
    margin-right: 8px;
}
.footer__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.colgroup__title h2 {
    display: inline-block;
    font-size: 26px;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
}
.decoration::before {
    content: "";
    display: block;
    height: 3px;
    width: 20px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
.decoration::after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    position: absolute;
    bottom: -10px;
    left: 30px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
.footer__colgroup ul {
    list-style: none;
}
.footer__colgroup li {
    margin: 20px 0;
}
.footer__colgroup li a {
    color: #636363;
    text-decoration: none;
}
.footer__colgroup li i {
    margin-right: 10px;
}
.footer__colgroup li:hover a {
    color: #fff;
}
.footer__link {
    background-color: #1f343b;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
}
.link__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.link__copy span {
    color: #f55f8d;
}
.link__icon i {
    font-size: 14px;
    margin: 0 6px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: #636363 ;
    transition: all 0.5s;
}
.link__icon i:hover {
    background-color: #f55f8d;
    cursor: pointer;
}
.back__top i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    background-color: #f55f8d;
    color: #fff;
    position: absolute;
    bottom: 60px;
    right: 10px;
}
/* END FOOTER */